.highscoreOverview-screen {
    background-image: url('../../resources/basicTheme/background.png');
    width: 450px;
    height: 700px;
    top: 60px;
    left:35%;
    position: absolute;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highscoreOverview-screen-dark{
    background-image: url('../../resources/octiTheme/background.png');
    width: 450px;
    height: 700px;
    top: 60px;
    left:35%;
    position: absolute;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highscore-list{
    margin: 20px;
}

.highscore-list-element{
    margin: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS";
}

#homeButtonClass{
    position: absolute;
    left: 130px;
    top: 540px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 1.75rem;
    font-family: "Comic Sans MS";
}

#homeButtonClass-dark{
    background-color: cornflowerblue;
    position: absolute;
    left: 130px;
    top: 540px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 1.75rem;
    font-family: "Comic Sans MS";
}

#scores{
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-family: "Comic Sans MS";
}

#scores-dark{
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-family: "Comic Sans MS";
    color: white;
}

#highscoreTitle{
    top: 60px;
    position: absolute;
    font-family: "Comic Sans MS";
}

#highscoreTitle-dark{
    top: 60px;
    position: absolute;
    font-family: "Comic Sans MS";
    color: white;
}

